faiss-cpu==1.13.2
fastapi==0.115.5
uvicorn[standard]==0.32.0
itemadapter==0.13.0
langchain-classic==1.0.1
langchain-community==0.4.1
langchain-core==1.2.5
langchain-openai==1.1.6
langchain-text-splitters==1.1.0
nltk==3.9.2
openai==2.14.0
playwright==1.57.0
python-dotenv==1.2.1
Scrapy==2.13.4
scrapy-playwright==0.0.44
spacy==3.8.11
tiktoken==0.12.0
